<div class="container technical">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse4">Technical Experience<span class="glyphicon glyphicon-chevron-down"></span></a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body body-container">
          <ul>
            <li>Full-Time Solution Creater at CUNA Mutual (or Developer)</li>
            <li>Help Desk General Support</li>
            <li>Support Specialist</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container recreational">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse3">Recreational Activities<span class="glyphicon glyphicon-chevron-down"></span></a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body body-container">
            <ul>
              <li>Puppy Playtime</li>
              <li>Videogame Immersion</li>
              <li>Coding</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container purpose">
      <div class="panel-group">
        <div class="panel panel-default panel-transparent">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse2">Purpose of Site<i class="glyphicon glyphicon-chevron-down"></i></a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body body-container">
              <p>The goal of this site is to introduce myself, demonstrate my programming abilities, and to retain knowledge
                that I discovered along my coding jounrey.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="container contact">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Contact Me<span class="glyphicon glyphicon-chevron-down"></span></a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body body-container">
                <p>Email: petersen.emerald@gmail.com</p>
                <p>Phone: 608-509-4420</p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>


</div>