<div class="container technical">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Emerald Petersen
        </h4>
      </div>
    </div>
  </div>
  <div class="container recreational">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse47">Contact<span class="glyphicon glyphicon-chevron-down"></span></a>
          </h4>
        </div>
        <div id="collapse47" class="panel-collapse collapse">
          <div class="panel-body body-container">
            <b>Phone: </b>608-509-4420
            <br />
            <br />
            <b>Email: </b>petersen.emerald@gmail.com
            <br />
            <br />
            <b>Address: </b>7766 Radcliffe Dr Apt B || Madison, WI 53719
          </div>
        </div>
      </div>
    </div>
    <div class="container recreational">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse36">Career Summary<span class="glyphicon glyphicon-chevron-down"></span></a>
            </h4>
          </div>
          <div id="collapse36" class="panel-collapse collapse">
            <div class="panel-body body-container">
              <b>Developer (Two Years):</b> Dived into the depths of frameworks and programming languages with others and
              designed simple, elegant solutions to meet the needs of customers.
              <br />
              <b>Support Specialist (Two Years):</b> Took technical information and broke it down to simplistic steps that
              others can understand and utilize.
            </div>
          </div>
        </div>
      </div>
      <div class="container purpose">
        <div class="panel-group">
          <div class="panel panel-default panel-transparent">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse26">Computer Skills<i class="glyphicon glyphicon-chevron-down"></i></a>
              </h4>
            </div>
            <div id="collapse26" class="panel-collapse collapse">
              <div class="panel-body body-container">
                <b>Programming/Scripting Languages:</b> C#, Javascript, HTML, CSS/LESS/SASS, SQL, VB, Jquery, Python, Java,
                ASP.NET, ASP.NET Core, Matlab, Android SDK, Assembly Website
                <br />
                <b>Frameworks and Tools:</b> Durandal, Angular, React, Aurelia, Google Recaptcha
                <br />
                <b>Applications:</b> Visual Studio, Visual Studio Code, TFS, GIT, Android Studio, IIS, SQL Server
              </div>
            </div>
          </div>
        </div>
        <div class="container contact">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#collapse17">Work Experience<span class="glyphicon glyphicon-chevron-down"></span></a>
                </h4>
              </div>
              <div id="collapse17" class="panel-collapse collapse">
                <div class="panel-body body-container">
                  CUNA Mutual (Current) 
                  June 2016 - Present
                  Business System Developer Developed the UI side of a internal, Durandal web application.
                  Taught and worked with coworkers on how to use various frameworks and languages and worked with them to
                  develop solutions to business problems. Developed a solution to gather website information in a service
                  and submit the information to a SQL database. Prioritized self-learning, at work and at home, to better
                  technical and business skills. 
                  CUNA Mutual
                  June 2015 – June 2016 
                  Developer Intern Developed team's dashboard
                  using ASP.NET C#, updated the existing code to company's standards, and deployed it to production. Developed
                  an ASP.NET VB application to connect to a SQL database and use queries to manage the business information.
                  Also wrote a batch job to run the application on a schedule. 
                  Learn@UW Team/DoIT Help Desk 
                  Sept 2013 – May
                  2015 Student Support Specialist, Phone and Email Support, and Student Overseerer 
                  Assisted other agents
                  with questions and reviewed their past cases to better their technical abilities and their customer skills.
                  Created Java application to improve efficiency during testing and create new functionalities. Broke down
                  technical solutions so that customers could resolve their problems. Created articles to help students and
                  faculty use school's course website effectively.
                </div>
              </div>
            </div>
          </div>
          <div class="container contact">
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse16">Education<span class="glyphicon glyphicon-chevron-down"></span></a>
                  </h4>
                </div>
                <div id="collapse16" class="panel-collapse collapse">
                  <div class="panel-body body-container">
                    <p>Email: petersen.emerald@gmail.com</p>
                    <p>Phone: 608-509-4420</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>