<div class="container main">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse32">Blog Two<span class="glyphicon glyphicon-chevron-down"></span></a>
        </h4>
      </div>
      <div id="collapse32" class="panel-collapse collapse">
        <div class="panel-body body-container">
          Hi
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container main">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse22">Blog One<span class="glyphicon glyphicon-chevron-down"></span></a>
        </h4>
      </div>
      <div id="collapse22" class="panel-collapse collapse">
        <div class="panel-body body-container">
          Hi
        </div>
      </div>
    </div>
  </div>
</div>