.main {
    background-color: cornflowerblue;
    box-shadow: 10px 10px 5px #111;
    padding-left: 10%;
    width: 100%;
    word-wrap:break-word;
}
.secondary {
    background-color: rgba(245, 245, 245, 0.2);
    box-shadow: 10px 10px 5px #222;
    width: 100%;
    word-wrap:break-word;
}

.body-container {
    background-color: rgba(245, 245, 245, 0.2);
    color: black;
}

a {
    color: black;
}

.container{
    padding-left: 0px;
}

h4 {
    padding: 1%;
}


