<div class="container main">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse10">Spring 2016<span class="glyphicon glyphicon-chevron-down"></span></a>
        </h4>
      </div>
      <div id="collapse10" class="panel-collapse collapse">
        <div class="panel-body body-container">
          <ul>
            <li>Database Management Systems</li>
            <li>Modern Physics for Engineers</li>
            <li>Introduction to Medical Physics</li>
            <li>Physics Today</li>
            <li>Intermediate Lab</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container main">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse20">Fall 2015<span class="glyphicon glyphicon-chevron-down"></span></a>
        </h4>
      </div>
      <div id="collapse20" class="panel-collapse collapse">
        <div class="panel-body body-container">
          <ul>
            <li>Software Engineering</li>
            <li>Computation Photography</li>
            <li>Literature and Culture</li>
            <li>Figures in American Literature</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container main">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse30">Spring 2015<span class="glyphicon glyphicon-chevron-down"></span></a>
        </h4>
      </div>
      <div id="collapse30" class="panel-collapse collapse">
        <div class="panel-body body-container">
          <ul>
            <li>Rebels and American Literature</li>
            <li>Machine Organization and Programming</li>
            <li>Foundation of Mobile Systems</li>
            <li>Introduction to Cryptography</li>
            <li>Introduction to Algorithms</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container main">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse40">Fall 2014<span class="glyphicon glyphicon-chevron-down"></span></a>
        </h4>
      </div>
      <div id="collapse40" class="panel-collapse collapse">
        <div class="panel-body body-container">
          <ul>
            <li>Digital System Fundamentals</li>
            <li>Computer Graphics</li>
            <li>Literature and Culture</li>
            <li>Topics in Early American Literature</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container main">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse50">Spring 2014<span class="glyphicon glyphicon-chevron-down"></span></a>
        </h4>
      </div>
      <div id="collapse50" class="panel-collapse collapse">
        <div class="panel-body body-container">
          <ul>
            <li>Introduction to Computer Engineering</li>
            <li>C++ for Java Programmers</li>
            <li>Videogames and Learning</li>
            <li>Shakespeare</li>
            <li>Elementary Matrix and Linear Algebra</li>
            <li>Plant, Parasites, and People</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container main">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse60">Fall 2013<span class="glyphicon glyphicon-chevron-down"></span></a>
        </h4>
      </div>
      <div id="collapse60" class="panel-collapse collapse">
        <div class="panel-body body-container">
          <ul>
            <li>Introduction to Discrete Mathematics</li>
            <li>Introduction to Data Structures</li>
            <li>Outstanding Figures - 16th Century Literature</li>
            <li>Lit, Aethetics, and Mass</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container main">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse70">Spring 2013<span class="glyphicon glyphicon-chevron-down"></span></a>
        </h4>
      </div>
      <div id="collapse70" class="panel-collapse collapse">
        <div class="panel-body body-container">
          <ul>
            <li>Introduction to Programming</li>
            <li>Survery of Asian American Literature</li>
            <li>Calculus II</li>
            <li>A Modern Introduction to Physics II</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="container main">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse80">Fall 2012<span class="glyphicon glyphicon-chevron-down"></span></a>
        </h4>
      </div>
      <div id="collapse80" class="panel-collapse collapse">
        <div class="panel-body body-container">
          <ul>
            <li>Introduction to Computation</li>
            <li>Calculus I</li>
            <li>A Modern Introduction to Physics I</li>
            <li>University Band</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>